body{
    background-color: antiquewhite;
}

.dark-mode{
    background-color: darkblue;
    color: white; 
}

header{ 
    display: flex;
    justify-content: flex-end;

}

.holaC {
    margin-top: 5px;
    padding-right: 0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;


}

.mode{
    text-align: center;
    display: flex;
    margin: 20px;
    padding-top: 0;
}